*{
    margin: 0;
    padding: 0;
}
nav, header, aside, article, footer{
    padding: 1rem;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header, footer{
    background-color: khaki;
    height: 10vh;
}
.container{  
    display: flex;
    flex-grow: 1;
}
aside{
    background-color: pink;
    flex: 0 0 20vw;

}
nav{
    background-color: aquamarine;
    flex: 0 0 20vw;
}
article{
    background-color: beige;
    flex-grow:  1;
}